<h1>Antonio Carlos Nogueira Junior</h1>
<hr>
<h3>Adicionar Novo Arquivo</h3>

<%= render 'form' %>
<br>
<hr>

<% if @informations.present? %>
  <h3> Histórico</h3>
  <table class="table table-hover">
    <thead>
      <th>Arquivo</th>
      <th>Postagem</th>
      <th>Tamanho</th>
      <th>Visualizar</th>
    </thead>
    <tbody>
      <% @informations.each do |information| %>
        <tr>
          <td><%= information.document_file_name %></td>
          <td><%= time_tag information.created_at %></td>
          <td><%= information.document_file_size %></td>
          <td><%= link_to "Visualizar", information_path(information) %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

  <div class="flickr_pagination">
    <%= will_paginate @informations %>
  </div>
<% end %>
